.titleDiv {
  background-color: rgb(220, 228, 235);
  display: inline-block;
  width: 500px;
  margin: 10px;
  cursor: pointer;
}

.toggleDiv {
  background-color: rgb(169, 183, 197);
  display: inline-block;
  width: 500px;
  margin: 10px;
  cursor: pointer;
}

p {
  margin-left: 10px;
}
