.inputTodo {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
}

button {
  width: 100px;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.liBtn {
  width: 70px;
  padding: 5px;
  font-size: medium;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  margin: 10px;
}

ul,
li {
  font-size: larger;
}

.inputCheckbox {
  width: 50px;
}
